<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$1</title>
    <link rel="stylesheet" href="/assets/explorer.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body class="p-6 md:p-12 lg:p-24 h-screen flex flex-col flex-wrap gap-1 md:gap-2 lg:gap-3">
    <div class="absolute left-0 top-1.5 md:top-3 lg:top-6 w-full px-6 md:px-12 lg:px-24
        flex flex-row items-center justify-between ">
        <div class="flex flex-row gap-2 items-center">
            <a href="/" class="!p-1.5 rounded">
                <img class="h-4 w-4" src="/assets/img/square.svg" alt="Maison">
            </a>
            $2
        </div>
        <form>
            <label class="px-2 py-1 bg-black/5 hover:bg-fuchsia-600/10 cursor-pointer
                flex flex-row items-center gap-2">
                <img class="w-4 h-4" src="/assets/img/import.svg" alt="Import">
                <input 
                    class="hidden"
                    type="file">
                Importer
            </label>
        </form>
    </div>
    $3
</body>
</html>