<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorer</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body class="w-screen h-screen grid sm:grid-cols-5">
    <section class="w-full h-full hidden sm:block col-span-3 -scale-x-100">
        <img 
            class="w-full h-full object-cover object-center"
            src="/assets/img/eyes.jpg" alt="Bibliothèque">
    </section>
    <section class="w-full h-full col-span-2 p-6 md:p-12">
        <form action="/login" method="post" class="flex flex-col gap-2">
            <h2 class="text-2xl font-semibold">
                Connexion à l'<span 
                    class="bg-fuchsia-600 text-white px-1.5 py-0.5 mr-0.5">Explorer</span> de Nogata
            </h2>
            <p>
                Accès au disque de Nogata depuis internet.
            </p>
            <input 
                name="username"
                class="mt-4 outline-none text-xl
                    px-4 py-2 border transition-colors
                    border-black/10 focus:border-fuchsia-600/25"
                type="text"
                placeholder="Nom d'utilisateur">
            <input 
                name="password"
                class="outline-none text-xl
                px-4 py-2 border transition-colors
                border-black/10 focus:border-fuchsia-600/25"
                type="password"
                placeholder="Mots de passe">
            <div class="flex flex-row gap-2">
                <input 
                    class="px-3 py-1.5 bg-black/10 border border-transparent transition-colors
                        hover:bg-black/0 cursor-pointer hover:border-fuchsia-600/25"
                    type="submit" 
                    value="Connexion">
                <a href="/public" 
                    class="px-3 py-1.5 bg-fuchsia-600/10 border border-transparent transition-colors
                    hover:bg-black/0 cursor-pointer hover:border-fuchsia-600/25">
                    Dossier publique
                </a>
            </div>
            <p class="text-xs py-2" id="output">
                
            </p>
            <script>
                const output = document.getElementById("output");
                if (window.location.search.includes("failed")) {
                    output.innerText = "Mauvais identifiants";

                    window.location.search = "";
                }
            </script>
        </form>
    </section>
</body>
</html>